$primary:       $green;
$secondary:     $purple;
$success:       $lime;
$danger:        $red;
$warning:       $yellow;
$info:          $pink;
$light:         $gray-100;
$dark:          $gray-900;


// Color variations
// =============================================================================

$primary-700:   shade-color($primary, 40%);

$primary-400:   tint-color($primary, 20%);
$primary-300:   tint-color($primary, 40%);
$primary-200:   tint-color($primary, 60%);
$primary-150:   tint-color($primary, 70%);
$primary-100:   tint-color($primary, 80%);
$primary-50:    tint-color($primary, 90%);

$secondary-700:   shade-color($secondary, 40%);

$secondary-400:   tint-color($secondary, 20%);
$secondary-300:   tint-color($secondary, 40%);
$secondary-200:   tint-color($secondary, 60%);
$secondary-150:   tint-color($secondary, 70%);
$secondary-100:   tint-color($secondary, 80%);
$secondary-50:    tint-color($secondary, 90%);

$success-700:   shade-color($success, 40%);

$success-400:   tint-color($success, 20%);
$success-300:   tint-color($success, 40%);
$success-200:   tint-color($success, 60%);
$success-150:   tint-color($success, 70%);
$success-100:   tint-color($success, 80%);
$success-50:    tint-color($success, 90%);

$danger-700:   shade-color($danger, 40%);

$danger-400:   tint-color($danger, 20%);
$danger-300:   tint-color($danger, 40%);
$danger-200:   tint-color($danger, 60%);
$danger-150:   tint-color($danger, 70%);
$danger-100:   tint-color($danger, 80%);
$danger-50:    tint-color($danger, 90%);

$warning-700:   shade-color($warning, 40%);

$warning-400:   tint-color($warning, 20%);
$warning-300:   tint-color($warning, 40%);
$warning-200:   tint-color($warning, 60%);
$warning-150:   tint-color($warning, 70%);
$warning-100:   tint-color($warning, 80%);
$warning-50:    tint-color($warning, 90%);

$info-700:   shade-color($info, 40%);

$info-400:   tint-color($info, 20%);
$info-300:   tint-color($info, 40%);
$info-200:   tint-color($info, 60%);
$info-150:   tint-color($info, 70%);
$info-100:   tint-color($info, 80%);
$info-50:    tint-color($info, 90%);

$light-300:   tint-color($light, 40%);
$light-200:   tint-color($light, 60%);
$light-100:   tint-color($light, 80%);

$dark-300:   tint-color($dark, 40%);
$dark-200:   tint-color($dark, 60%);
$dark-100:   tint-color($dark, 80%);

@import "../common/common-variables-light";
