$cyan:        #39c7ff;
$blue:        #2d4bff;
$indigo:      #5c2ffd;
$purple:      #a130fd;
$pink:        #ff5bb5;
$green:       #01da63;
$yellow:      #ffc200;
$red:         #ff5b5b;
$orange:      #ff9933;

$white:       #fff;
$gray-100:    #f1f1f1;
$gray-200:    #eeeeee;
$gray-300:    #d8d8d8;
$gray-400:    #bfbfbf;
$gray-500:    #a9a9a9;
$gray-600:    #888888;
$gray-700:    #5b5b5b;
$gray-800:    #424242;
$gray-900:    #2a2a2a;
$black:       #000;
