// Document
// =============================================================================

:root {
  --bs-border-color: var(--bs-primary-border-subtle);
  --bs-border-color-translucent: var(--bs-primary-border-subtle);
  --bs-tertiary-bg: var(--bs-primary-bg-subtle);
}

body {
  overflow: hidden scroll;
}

::selection {
  background-color: rgba($primary, 20%);
  color: inherit;
}
-moz-::selection {
  background-color: rgba($primary, 20%);
  color: inherit;
}

@media print {
  html, body {
    font-size: 10pt;
  }
}

@page {
  margin: 1cm 1.5cm;
}

mark, .mark {
  color: inherit;
}

hr {
  opacity: 1;
  color: var(--bs-primary-border-subtle);
}


// Alerts
// =============================================================================

.alert hr {
  opacity: 0.25;
  color: inherit;
}


// List groups
// =============================================================================

.list-group-item {
  --bs-list-group-action-active-bg: var(--bs-primary-border-subtle);
}


// Pagination
// =============================================================================

.pagination {
  --bs-pagination-focus-bg: var(--bs-primary-border-subtle);
  --bs-pagination-disabled-bg: var(--bs-dark-bg-subtle);
}


// Cards
// =============================================================================

.card {
  --bs-card-cap-bg: var(--bs-primary-bg-subtle);
}

@each $variant in ("primary", "secondary", "success", "info", "warning", "danger") {

  $base-color: var(--bs-#{$variant});
  $bg-subtle: var(--bs-#{$variant}-bg-subtle);
  $border-subtle: var(--bs-#{$variant}-border-subtle);

  .card.bg-#{$variant} {
    border-color: $base-color !important;
    background-color: $bg-subtle !important;
    .card-header,
    .card-footer {
      background-color: $border-subtle !important;
    }
    .card-header,
    .card-footer,
    .list-group,
    .list-group-item {
      border-color: $base-color !important;
    }
    .list-group-item {
      background-color: $bg-subtle !important;
    }
  }

  .card.border-#{$variant} {
    .card-header,
    .card-footer {
      background-color: $bg-subtle !important;
    }
    .card-header,
    .card-footer,
    .list-group-item {
      border-color: $base-color !important;
    }
  }

}


// Forms
// =============================================================================

.form-control:disabled {
  background-color: var(--bs-dark-bg-subtle);
}

.form-range::-moz-range-track {
  background-color: var(--bs-primary-bg-subtle);
}


// Tables
// =============================================================================

.table {
  --bs-table-striped-bg: var(--bs-primary-bg-subtle);
}
