+tabpane("spinners")
  <div class="mb-3">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>&nbsp;
    each variant in colorVariants
      <div class="spinner-border text-#{variant}" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>&nbsp;
  </div>
  <div class="mb-3">
    <div class="spinner-grow" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>&nbsp;
    each variant in colorVariants
      <div class="spinner-grow text-#{variant}" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>&nbsp;
  </div>
  <button class="btn btn-primary" type="button" disabled>
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    <span class="visually-hidden">Loading...</span>
  </button>
  <button class="btn btn-primary" type="button" disabled>
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...
  </button>