+tabpane("tables")

  <table class="table mb-3">
    +table-content
  </table>
  
  <table class="table table-bordered mb-3">
    +table-content
  </table>

  <table class="table table-striped mb-3">
    +table-content
  </table>

  <table class="table table-sm mb-3">
    <caption>List of users</caption>
    +table-content
  </table>
